<div class="jumbotron mt-4">
    <h1 class="dispay-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A velit saepe fugit dignissimos beatae, exercitationem, dicta quo consequatur provident totam facere, cumque!</p>
    <hr class="my-4">    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum dolorem debitis, nulla labore, illum, repellendus odit est fugit ratione quo veniam vel voluptatum magni. Deserunt accusamus atque est ullam ipsum?</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>